*{
    color: grey;
}
.section-intro{
background-color: rgb(221, 221, 221);
padding: 70px 20px 20px 20px;
}
.footer-home{
    margin-top: 50px;
}
.footer-home a:link,
.footer-home a:visited{
    text-decoration: none;
    color: grey;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
    transition: background, 0.4s;
    
}
.footer-home a:hover,
.footer-home a:active{
    color: aliceblue;
    background-color: grey;
}
.footer-home p{
    margin: 50px auto;
    color: rgb(98, 98, 98);

}
footer{
    background-color: rgb(229, 229, 229);
}
.footer-home .fb:hover,
.footer-home .fb:active{
    color: aliceblue;
    background-image: linear-gradient(rgb(22, 119, 255),rgb(13, 79, 173));
    border-color: rgb(22, 119, 255);
}
.footer-home .insta:hover,
.footer-home .insta:active{
    color: aliceblue;
    background-image: linear-gradient(rgb(247, 32, 103),rgb(197, 30, 86));
    border-color: rgb(247, 32, 103);
}
.footer-home .twitter:hover,
.footer-home .twitter:active{
    color: aliceblue;
    background-image: linear-gradient(rgb(30, 169, 255),rgb(20, 111, 169));
    border-color: rgb(30, 169, 255);
}
footer h5{
    color: grey;
}
.section-dev {
    background-color: rgb(243, 243, 243);
    padding: 40px;
}

.section-img img{
    width: 40%;
    margin: 40px 30% 30px 30%;
}
.section-links {
    background-image:linear-gradient(rgba(0, 0, 0, 0.77),rgba(0, 0, 0, 0.556)) ,url(https://images.pexels.com/photos/1714203/pexels-photo-1714203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-attachment: fixed;
    padding: 40px;
}
.section-links h4{
    color: aliceblue;
}

@media screen and (max-width:1200px){
    .section-img img{
        width: 60%;
        margin: 40px 20% 30px 20%;
    }
}
@media screen and (max-width:800px){
    .section-img img{
        width: 70%;
        margin: 40px 15% 30px 15%;
    }
}
